button{
    height: 150px;
    width: 150px;
    background-color: rgb(164, 94, 231);
}

.X_class{
    background-color: #239df4;
    color: white;
}

.Y_class{
    background-color: rgb(22, 221, 132);
    color: white;
}